/*Feed Page*/
/*search bar*/
.search-post {
    margin-top: 25px;
  }
  
  .search-post .svg-inline--fa,
  .filter-form .svg-inline--fa   {
    color: white;
  }
  
  .search-post button,
  .filter-form button {
    background-color: #202020;
    border: 2px solid #202020;
  }
  .search-post button:hover,
  .filter-form button:hover {
    background-color: #BADABF;
    border: 2px solid #BADABF;
  }
  
  /*button group*/
  .btn-group .btn-danger {
    background-color: #C21515 !important;
    border: 1px solid #202020 !important;
  }
  
  .btn-group .btn-info {
    background-color: #C4C4C4 !important;
    border: 1px solid #202020 !important;
  }
  .btn-group .btn-info:hover {
    color: white !important;
  }
  
  /*filter form*/
  .filter-form .form-label,
  .filter-form input[type="datetime-local"]{
    color: #202020;
  }
  
  /*filter buttons*/
  .filter-buttons {
    text-align: center;
  }
  
  .filter-buttons button {
    background-color: #C21515;
    color: white;
    border: 1px solid #202020;
    border-radius: 3px;
  }
  
  .filter-buttons button:hover {
    background-color: #BADABF;
    color: white;
    border: 1px solid #BADABF;
  }