.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*PT Sans font */
*{
  font-family: 'PT Sans', sans-serif;
}
 
/*Privacy Form & Update Form style grouping*/
.privacy-form .btn,
.update-form .btn,
.pic-form .btn {
  background-color: #C21515;
  color: white;
  font-size: 18px;
}

.privacy-form button:hover,
.update-form button:hover,
.pic-form button:hover {
  background-color: #BADABF;
  color: white;
}

.privacy-form .form-check-input:checked,
.update-form .form-check-input:checked {
  background-color: #C21515 !important;
  border-color: #880F0F;
}

.privacy-form .form-check-input:focus,
.update-form .form-check-input:focus{
  border-color: #C4C4C4 !important;
  box-shadow: 0 1px 1px #C4C4C4 !important;
  outline: none;
}

.privacy-form p,
.update-form p,
.pic-form p {
  font-size: 15px;
  color: #202020;
  text-align: left;
}

/*Update Profile Info */
.update-form {
  border: 1px solid #dee2e6;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
}

/*Universal styling for focus input type*/
input[type="text"]:focus, 
input[type="password"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
button[type="submit"]:focus, 
input[type="textarea"]:focus,
select:focus,
.form-check-input:focus,
.register-btn .btn-primary:focus,
.login-form .btn:focus,
input[type="datetime-local"]:focus,
.post-body textarea:focus
{
  border-color: rgba(196, 196, 196,0.7);
  box-shadow: 0 1px 1px rgba(196, 196, 196, 0.075) inset, 0 0 8px rgba(196, 196, 196, 0.6);
  outline: 0 none;
}

/*applied to componenet pages when content too short */
.short-content {
  min-height: 400px;
}

/*Profile*/
.profile {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

/*Profile Pic Display*/
.profile-pic {
  padding: 20px;
}

.profile-alias {
  color: #202020;
  font-size: 20px;
}

.profile-username {
  color: #C4C4C4;
  font-size: 20px;
}

/*Profile Info */
.profile-info {
  padding: 10px;
}
.profile-info p{
  color: #202020;
}

.profile-info-name p {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.profile-info-gen p{
  font-size: 20px;
  text-align: left;
  padding: 2px;
}

.profile-info-gen .svg-inline--fa {
  padding-top: 5px;
}