.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Profile NavBar*/
.profile-header{
  text-align: center;
}

.profile-header p {
  font-size: 12px;
}

.profile-header img {
  border-radius: 50%;
}

.me-auto {
  text-align: center;
}

#navbarScrollingDropdown::after{
  display: none;
}

.container {
  height: auto;
  padding: 0;
  margin: 0;
}

.nav-link {
  height: 50px;
}

.dropdown-menu {
  min-width: 8rem !important;
}

.dropdown-item:hover {
  background-color: #BADABF !important;
  color: white !important;
  opacity: 0.8;
}

.profile-header p {
  color: #202020;
}

/*Navbar Icons*/
.nav-link .svg-inline--fa {
  color: #202020;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.nav-link .svg-inline--fa:hover {
  color: #BADABF;
}

/*Privacy Form & Updaet Form*/
/*Privacy Info */
.privacy-form {
  width: 350px;
  height: auto;
  padding: 15px;
  margin: 5px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}
.privacy-form .form-switch {
  text-align: left;
}
.privacy-form .form-check-input {
  float: right !important;
}

.privacy-form .btn,
.update-form .btn,
.pic-form .btn {
  background-color: #C21515;
  color: white;
  font-size: 18px;
}

.privacy-form button:hover,
.update-form button:hover,
.pic-form button:hover {
  background-color: #BADABF;
  color: white;
}

.privacy-form .form-check-input:checked,
.update-form .form-check-input:checked {
  background-color: #C21515 !important;
  border-color: #880F0F;
}

.privacy-form .form-check-input:focus,
.update-form .form-check-input:focus{
  border-color: #C4C4C4 !important;
  box-shadow: 0 1px 1px #C4C4C4 !important;
  outline: none;
}

.privacy-form .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23C4C4C4'/%3e%3c/svg%3e") !important;
}

.privacy-form p,
.update-form p,
.pic-form p {
  font-size: 15px;
  color: #202020;
  text-align: left;
}

/*Update Profile Info */
.update-form {
  border: 1px solid #dee2e6;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
button[type="submit"]:focus, 
input[type="textarea"]:focus,
select:focus,
.form-check-input:focus,
.register-btn .btn-primary:focus,
.login-form .btn:focus,
input[type="datetime-local"]:focus,
.post-body textarea:focus
{
  border-color: rgba(196, 196, 196,0.7);
  box-shadow: 0 1px 1px rgba(196, 196, 196, 0.075) inset, 0 0 8px rgba(196, 196, 196, 0.6);
  outline: 0 none;
}

/*Profile Pic */
.pic-form {
  width: 350px;
  height: auto;
  padding: 15px;
  margin: 5px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

/*applied to componenet pages when content too short */
.short-content {
  min-height: 380px;
}

/*Footer*/
footer {
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  font-size: 15px;
  color: #202020;
}

/*Settings menu*/
.settings-menu {
  margin: 5px;
  width: 100%;
}

.settings-menu a {
  text-decoration: none;
  color: #202020;
}

.settings-menu a:hover{
  color: #BADABF;

}

/*Profile*/
.profile {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

/*Profile Pic Display*/
.profile-pic {
  padding: 20px;
}

.profile-alias {
  color: #202020;
  font-size: 20px;
}

.profile-username {
  color: #C4C4C4;
  font-size: 20px;
}

/*Profile Info */
.profile-info {
  padding: 10px;
}
.profile-info p{
  color: #202020;
}

.profile-info-name p {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.profile-info-gen p{
  font-size: 20px;
  text-align: left;
  padding: 2px;
}

.profile-info-gen .svg-inline--fa {
  padding-top: 5px;
}

/*Register Page*/
.register-form.card {
  margin-top: 30px;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  border-radius: 8px;
}
.register-form.card {
  width: 430px !important;
  padding-top: 30px;
}

.register-return p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;

}

.register-btn .btn-primary {
  width: 100%;
  background-color: #C21515;
  border: 1px solid #C21515;

}

.register-btn .btn-primary:hover,
.register-btn .btn-primary:focus {
  background-color: #BADABF;
  border: 1px solid #BADABF;

}

.register-header,
.register-return {
  text-align: center;
}

.register-header .card-title.h5 {
  font-size: 40px;
}

.register-header h5 {
  font-size: 22px;
}

.register-header hr,
.login-form hr {
  width: 90%;
  margin: 15px auto;
  color: #202020 !important;
}

.register-return p>a{
  text-decoration: none;
  font-weight: bold;
  color: #880F0F;
}

.register-return p>a:hover{
  color: #BADABF;
}

/*Feed Page*/
/*search bar*/
.search-post {
  margin-top: 25px;
}

.search-post .svg-inline--fa,
.filter-form .svg-inline--fa   {
  color: white;
}

.search-post button,
.filter-form button {
  background-color: #202020;
  border: 2px solid #202020;
}
.search-post button:hover,
.filter-form button:hover {
  background-color: #BADABF;
  border: 2px solid #BADABF;
}

/*button group*/
.btn-group .btn-danger {
  background-color: #C21515 !important;
  border: 1px solid #202020 !important;
}

.btn-group .btn-info {
  background-color: #C4C4C4 !important;
  border: 1px solid #202020 !important;
}
.btn-group .btn-info:hover {
  color: white !important;
}

/*filter form*/
.filter-form .form-label,
.filter-form input[type="datetime-local"]{
  color: #202020;
}

/*filter buttons*/
.filter-buttons {
  text-align: center;
}

.filter-buttons button {
  background-color: #C21515;
  color: white;
  border: 1px solid #202020;
  border-radius: 3px;
}

.filter-buttons button:hover {
  background-color: #BADABF;
  color: white;
  border: 1px solid #BADABF;
}

/*Post Item */
.post-item .card-header {
  background-color: transparent #C4C4C4;
}
.post-item-header p{
  font-size: 15px;
}

.post-item-body .bg-light {
  background-color: transparent #C4C4C4 !important;
}

.post-item-body .content-box {
  background-color: white;
  width: 95%;
  margin: auto;
}



.post-item-body h1 {
  color: #202020;
  padding: 0px 10px;
  margin: 0px 5px;
  font-weight: 400;
}

.post-item-body p {
  font-size: 20px;
}

.post-item-body .row {
  flex-wrap: nowrap !important;
}

.post-item-body .reactions {
  padding: 0px 30px;
}

.post-item-body .like-dislike {
  text-align: right;
  padding: 0px 30px;
}

/*reaction buttons*/
.reactions button {
  background-color: #C4C4C4;
  border: 1px solid #202020;
  padding: 8px;
  border-radius: 3px;
}

.reactions button:hover {
  background-color: #BADABF;
  border: 1px solid #BADABF;
  color: white;
}

.reactions .react-btn {
  background-color: #C21515;
  color: white;
}

/*Add comment */
.add-com-btn input[type="submit"] {
  background-color: #C21515;
  color: white;
  border: 2px solid #C21515;
}

.add-com-btn input[type="submit"]:hover {
  background-color: #BADABF;
  color: white;
  border: 2px solid #BADABF;
}


/*Post Feed Item*/
.feed-item {
  width: 1000px;
}

.view-post {
  text-align: right;
  padding: 0px;
}

.view-post .btn {
  background-color: #C21515;
  color: white;
  border: 1px solid #C21515;
  width: 250px;
  margin-top: 20px;
  margin-right: 10px;
}

.view-post .btn:hover {
  background-color: #BADABF;
  border: 1px solid #BADABF;
}